@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	background-color:#fff2e7;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.masthead {
	background: #4B4D52;
	color: #4B4D52;
}

nav { 
	margin: auto;
	margin: 0;
	padding: 0;
	background-color: #4B4D52;

	list-style-type: none;
}

nav li {
	background-color: #4B4D52;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-right: 1rem;
	padding-left: 1rem;
	display: inline-block;
}
	

.current {
	 background-color: #FFF2E7;
	 padding: 1em;
}


.nav-bottom {
	font-size: 0.8889rem;
}

.ir {
	overflow: hidden;

	text-indent: 100%;
	white-space: nowrap;
}

product li {
	padding-bottom: 1em;
}

form {
	float:right;
	margin: auto;
	text-decoration: none;
	border:thick;
	border-color:#FFF2E7;
	padding-top: .50em;
	padding-left: .50em;
	padding-bottom: .50em;
	background-color: #4b4d52;
	color: #B9B1A8;
	font-family:"Courier New", Courier, monospace;
	font-weight: bold;
}

body {
	margin: 0;
	padding: 0;
}

.img-flex {
	display: block;
	width: 100%;
	padding-bottom: 1em;
}

.main {
	padding: 4em;
}


ul li:before {
  text-decoration: none;
}

h1 {
	text-align: center;
	padding-bottom: .5em;
}

h2 {
	padding-bottom: .5em;
}

.navbox {
	
	height: 5em;
}
/*
.ilbox {
	
	width:100%;
	border: thin;
	border-color:#D0CABF;
}*/