.footer {
	padding-top: 1em;
	padding-right: 4em;
	padding-left: 4em;
	padding bottom: 1em;
	text-align: center;
}

.footer-copyright,
.footer-links {
  text-align: center;
}

.footer-links a,
.footer-links a:link,
.footer-links a:visited {
  border: 0;
}

@media only screen and (min-width: 50em) {

}
