/*
  Colour Palette
  - Dark green: #060 - rgb(0, 100, 0)
  - Dark red: #600 - rgb(100, 0, 0)
  - Orange: rgb(0,153,255,)
  - Blue: rgb(255,102,0)
 */
@charset "UTF-8";
/* CSS Document */
html {
  font: normal 100%/1.25 'Open Sans',sans serif; /* 16px/24px */
 
}

::selection {
	background-color:rgb(255,102,0);
	color: #FFF;
	}

a,
a:link {
	color: rgb(0,153,255);
	text-decoration: none;
	border-bottom: 0.1em solid rgba(0,153,255,0.5);
	transition: all 200ms linear;
}

a:hover,
a:focus,
a:active {
	color: rgb(0,153,255,);
	border-bottom: rgb(0,153,255);
}

a:visited {
	color: rgb(255,153,0);
	border-bottom-color:rgb(255,153,0);
}
	
h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
blockquote, table, hr {
  margin: 0 0 1rem;
}

.yotta {
  font-size: 4.7684rem;
  line-height: 1.0486;
}

.zetta {
  font-size: 3.8147rem;
  line-height: 1.0486;
}

h1, .exa {
	font-family: 'Alegreya', serif;
	font-size: 3.0518rem;
  	line-height: 1.3107;
}

h2, .peta {
	font-family: 'Alegreya', serif;
  font-size: 2.4414rem;
  line-height: 1.2288;
}

h3, .tera {
	font-family: 'Alegreya', serif;
	  font-size: 1.9531rem;
  line-height: 1.0240;
}

h4, .giga {
	font-family: 'Alegreya', serif;
	
  font-size: 1.5625rem;
  line-height: 1.2800;
}

h5, .mega {
	font-family: 'Alegreya', serif;
  font-size: 1.2500rem;
  line-height: 1.6000;
}

h6, .kilo {
	font-family: 'Alegreya', serif;
  font-size: 1.0000rem;
  line-height: 1.0000;
}

small, .milli {
  font-size: 0.8000rem;
  line-height: 1.2500;
}

.micro {
  font-size: 0.6400rem;
  line-height: 1.5625;
}


ul {
	list-style-type: none;
}

ul li {
	position: relative;
}

ul li:before {
	content: "–";	
	color: rgb(0,0,0);
	position: absolute;
	left: -1.3em;
}

strong {
	font-family: 'Open Sans',sans serif;
	font-weight:600;
}

cite {
	text-align: right;
}

table {
	border:thin;
}
	

	

	
	