---
layout: index
---

<main role="main">

	<h1> Underground Brewers</h1>
	<p class="giga"> We are a collective of seasonal brewers, creating tasty and unique beers from the best quality ingredients.  </p>
	<img class="promo" src="{{site.baseurl}}/img/drainpromo.svg"/>
	{% include sub-nav.html %}
	<section>
	
	{{content}}
	<div>
		<div>
		<h2>IPA's</h2>
		
			   <ul class="giga grid">
			  {% for product in site.categories.cretaceous %}
					<li class="unit gutter unit-s-1 unit-m-1-2 unit-l-1-4 gutter-1">
						<a href="{{site.baseurl}}/productpage.html"> <img class="img-flex" src="{{product.image}}" alt="product"/></a>
						<a href="{{product.title}}"></a>
						<p>{{product.meta}}</p>
						<a class="btn giga" href="{{site.baseurl}}/cart.html">Add to Cart</a>
					</li>
				{% endfor %}
			 </ul>
		 </div>
	 </div>
 </section>

