---
layout: default
---

<div class="main">

	<h1> Dino Burgers &#153; </h1>
	<p> Our burgers are prehistoric!  Dino Burger's Time Hunters&#169 provide game meats from both the Jurassic and Cretaceous for whatever your taste in high-quality dinos. </p>
	<section>
		<div class="grid">
		<div class="unit unit-s-1 unit-l-1-2 gutter-1-2">
		<h2>Cretaceous Game Meat </h2>
		
			   <ul>
			  {% for product in site.categories.cretaceous %}
					<li>
						<a href="">{{product.title}}</a>
						<p>Time Period{{product.time-period}}</p>
					</li>
				{% endfor %}
			 </ul>
		 </div>
		 
		 <div class="unit unit-s-1 unit-l-1-2 gutter-1-2">
		 <h2>Jurassic Game Meat </h2>
			  <ul>
			  {% for product in site.categories.jurassic %}
					<li>
						<a href="">{{product.title}}</a>
						<p>Time Period{{product.time-period}}</p>
					</li>
				{% endfor %}
			 </ul>
			 
		 </div>
	 </div>
	 </section>
</div>

