---
layout: index
---

<div class="main">

	<h1> Dino Burgers &#153; </h1>
	<p class="giga"> Our burgers are prehistoric!  Dino Burger's Time Hunters&#169 provide game meats from both the Jurassic and Cretaceous for whatever your taste in high-quality dinos. </p>
	<section>
	
	{{content}}
		<div class="grid">
		<div class="unit gutter unit-s-1 unit-l-2 gutter-1">
		<h2>Cretaceous Game Meat </h2>
		
			   <ul class="giga unit">
			  {% for product in site.categories.cretaceous %}
					<li>
						<img img class="img-flex" src="{{product.image}}"/>
						<a href="">{{product.title}}</a>
						<p>{{product.meta}}</p>
						<a class="btn giga" href="{{site.baseurl}}/cart.html">Add to Cart</a >
					</li>
				{% endfor %}
			 </ul>
		 </div>
		 
		 <div class="unit gutter unit-s-1 unit-l-2 gutter-1" >
		 <h2>Jurassic Game Meat </h2>
			  <ul class="giga unit">
			  {% for product in site.categories.jurassic %}
					<li>
						<img img class="img-flex" src="{{product.image}}"/>
						<a href="">{{product.title}}</a>
						<p>{{product.meta}}</p>
						<a class="btn giga" href="{{site.baseurl}}/cart.html">Add to Cart</a >
					</li>
				{% endfor %}
			 </ul>
			 
		 </div>
		
	 </div>
	 </section>
</div>

