# User Testing Report

User testing was conducted by {Grant Jeffery} on March 24th between the times of 8:30 and 10:00 with the following participants:

- {Kayla Araujo}
- {Sasha Chama}
- {Emma Mcinall}

## Tasks

1. {Add some Triceratops meat to your cart, proceed to checkout and purchase}
2. {What’s this dino meat thing all about? Find the About page}
3. {search for Jurassic meats}

---

## Individual Results & Observations

### {Sasha Chama}

- {Could not find add to cart button, linking img and product title might help navigation }
- {could not find categories, seemed to be lost in top nav.}
- {Rest of checkout process went smoothly}

### {Kayla Araujo}

- {Could not find add to cart button, linking img and product title might help navigation}
- {Rest of checkout process went smoothly}
- {Fill in any observations that were important/relevant…}
- etc.

### {Emma Mcinall}

- {Could not find add to cart button, linking img and product title might help navigation}
- {Had difficulty distinguishing dinos based on footprints. H2’s not large enough or a dark enough colour. 
---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Difficulty figuring out how to buy a product, footprint img looked too much like a button}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Buy now buttons are far too close to the img of the next product in the line.}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Site needs a major spellchecking