@charset "UTF-8";
/* CSS Document */

.btn,
.btn:link
 {
	float: left;
	margin-bottom: 1em;
	color:rgb(0,0,0);
	display: inline-block;
	text-transform: uppercase;
	text-decoration:none;
	padding-top: .25em;
	padding-bottom: .25em;
	padding-left: .75em;
	padding-right: .75em;
	font-family:"Courier New", Courier, monospace;
	font-style:italic;
	border: solid thin;
}

.btn:hover{
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	border: solid thin rgb(255,255,255);
}

.btn:visited {
	text-decoration:none;
	color: #DE86642;
}

.alt-btn,
.alt-btn:link,
.alt-btn:visited {
	color: #FFFFF;
	padding-top: .25em;
	padding-bottom: .25em;
	padding-left: .75em;
	padding-right: .75em;
	background-color: #b9b1a8;
	text-decoration:none;
	
}

.a:hover {
	text-decoration:none;
}


@media only screen and (min-width: 1000px){	
.btn {
	 font-size: 0.8889rem;
  	line-height: 1.6875;
}

}