@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	background-color:#fffff;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

ol, ul {
	list-style: none;
}

.navbox {
	margin: auto;
	width: 90%;
	border-top: rgb(0,0,0) thin solid;
	
}

input{
	width: 100%;
	border: none;
	
}
	
	
nav-top { 
	margin-right:10em;
	list-style-type: none;
}

nav li {
	font-family: 'geared_slabbold', sans-serif;
	font-size: 1.3018rem;
	padding-top: .5rem;
	padding-right: 1rem;
	padding-left: 1rem;
	display: inline-block;
}
	

.current {
	 background-color: rgb(255,255,255);
}


.nav-bottom {
	border-top: thin black solid;
	font-size: 0.8889rem;
}

.ir {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

product li {
	padding-bottom: 1em;
}


body {
	margin: 0;
	padding: 0;
}

.img-flex {
	display: block;
	width: 100%;
	padding-bottom: 1em;
}

.main {
	padding-left: 4em;
	padding-right: 4em;
}

main {
	padding-left: 4em;
	padding-right: 4em;
}


ul li:before {
  text-decoration: none;
}

h1 {
	text-align: center;
}

h2 {
	padding-bottom: .5em;
}

.promo {
	position:static;
	width: 100%;
}

.productnav{
	margin: auto;
}

.productnav li{
	border: solid thin black;
	text-align: center;
}

.cartbucket {
	width: 80%;
	border: solid thin black;
}

form {
	
	float: left;
	text-decoration: none;
	font-family:"Courier New", Courier, monospace;
	font-weight: bold;
	width: 10%;
	text-decoration: none;
	border: solid thin black;
	margin-top: .5em;
	
}

.lineunder {
	border-bottom: solid thin black;
}


/*
.ilbox {
	
	width:100%;
	border: thin;
	border-color:#D0CABF;
}*/